<!DOCTYPE html>
<html lang="en">
<%- include('../partials/_header.ejs', { title: "Add New Item" }) %>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Item to the Pantry</h1>
    <div class="new-body">
      <form action="/users/<%= user._id %>/foods" method="POST">
          <label for="name">Food Item:</label>
          <input type="text" name="name" id="name" required placeholder="Food Item"/>

          <label>Category:</label>
              <select name="category">
                  <option value="">Select...</option>
                  <option value="dairy">Dairy</option>
                  <option value="produce">Produce</option>
                  <option value="grains">Grains</option>
                  <option value="canned">Canned</option>
                  <option value="spice">Spice</option>
                  <option value="other">Other</option>
              </select>

          <label for="quantity">Quantity:</label>
          <input type="number" name="quantity" id="quantity" />

          <label for="unit">Unit:</label>
          <input type="text" name="unit" id="unit" />

          <label for="expiresAt">Expires At:</label>
          <input type="date" name="expiresAt" id="expiresAt" />

          <button type="submit">Add Food</button>
      </form>
  </div>
  </body>
</html>
